body {
    box-sizing: border-box;
    margin: 0;
    padding: 40px 100px;
}

h1, h2, p{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

#searchBarContainer{
    display: flex;
    width: 100%;
    
}

#searchBarContainer img{
    width: 26px;
    height: 26px;
    padding: 13px;
    background-color: #e9e9e9;
    border-radius: 0 5px 5px 0;
}

#searchBar{
    width: 100%;
    border: none;
    padding-left: 20px;
    border-radius: 5px 0 0 5px;
    height: 50px;
    background-color: #e9e9e9;
}

#searchBar::placeholder{
    color: #a0a0a0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

article{
    margin-bottom: 30px;
}

article .thumbnail{
    background-color: #b5b5b5;
    width: 300px;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

article .content{
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    height: 130px;
}

article .content_main{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

article h2{
    width: 200px;
    font-size: 14px;
    margin: 0;
    color: #202020;
}

article .time{
    display: flex;
}

article .time img{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 5px;
}

article .time p{
    font-weight: bold;
}

article .content_second{
    display: flex;
    font-size: 10px;
}

article .ingredients{
    width: 135px;
}

article .description{
    width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.color-ingredient{
    background-color: #2e76e8;
}

.color-appareil{
    background-color: #75d995;
}

.color-ustensils{
    background-color: #eb5454;
}

.list{
    color: #e5e5e5;
    border-radius: 5px;
    margin-right: 15px;
}

.list input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    height: 30px;
    padding-left: 20px;
    width: 470px;
}

.list input::placeholder{
    color: #a2b7db;
}

.list .options{
    display: flex;
    position: absolute;
    width: 460px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.list .options p{
    width: 30%;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.list img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.search img{
    margin-top: 15px;
    margin-right: 15px;
}

.cover img{
    margin-top: 17px;
}

.list .cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.list .cover p{
    font-size: 18px;
}

.list .content{
    display: none;
    width: 500px;
}

.list .content .search{
    display: flex;
}

#tagList{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#tagList div{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

#tagList div img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: 0;
    cursor: pointer;
}

#noResultMessage{
    font-size: 20px;
    padding-top: 200px;
    text-align: center;
    display: none;
}

#listContainer{
    display: flex;
    width: 100%;
}